/* Inicio Productos */
.m-top {
    padding: 1.5rem;
    margin-top: 5rem;
}

// Cards
.card-deck {
    padding: 15px;
}
.productos-background_color {
    border-radius: 5px;
    
}
.col-selectors {
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
}
.card {
    border: none;
}
.points-star {
    margin-bottom: 20px;
    .fa {
        color: #6a097d;
    }
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    max-height: 270px;
}

// Logo WhatsApp
.logo-wsp-flotante {
    margin-right: 30px;
    margin-bottom: 20px;
}
.logo-wsp-flotante:hover{
    transform: scale(1.05, 1.05);
}

// Columna Categorias
.productos-categorias_fondo {
    border-top: 0;
    border-radius: 0 !important;
    background-color: #c060a1;
}
.categorias {
    padding-top: 6rem;
}
.title-categorias {
    font-family: 'Raleway', sans-serif;
    color: #6a097d;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 2rem;
}
.no-color a:hover {
    color: white !important;
}
.nav-pills a:focus {
    background-color: #6a097d !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #6a097d;
}
.btn-buy {
    font-weight: 600 !important;
}

// Carousel
.carousel-productos{
    margin-bottom: 2rem;
}
.carousel-align {
    @extend .productos-background_color;
    padding-top: 1rem;
}
.carousel-img {
    opacity: 0.9;
}
/* Fin Productos */