<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <meta name="description" content="Somos un emprendimiento dedicado a la fabricacion, reventa y customizacion de prendas y articulos de uso personal.">
    <meta name="keywords"  content="Venta, Ropa, Mujer, Accesorios, Blusas, Remeras, Shorts">
    <link rel="icon" href="../img/Logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="container-fluid">
        <!-- Inicio Menu -->
            <div class="container-fluid no-gutters">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                        <a class="navbar-brand" href="../index.html"><img src="../img/Logo.png" alt="logo" height="60" width="60"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html#info">Información</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="../index.html#comoComprar">¿Cómo comprar?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./productos.html">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                        </div>
                    </nav>
                </div>
            </div>
        <!-- Fin Menu -->

        <!-- Inicio Procutos -->
        <div class="row m-top">
            <div class="col-md-2 col-selectors">
            <div class="nav flex-column nav-pills no-color sticky-top categorias" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <h4 class="title-categorias">Categorias</h4>
                    <a class="nav-link active productos-categorias_fondo" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Blusas</a>
                    <a class="nav-link productos-categorias_fondo" id="v-pills-tops-tab" data-toggle="pill" href="#v-pills-tops" role="tab" aria-controls="v-pills-tops" aria-selected="false">Tops</a>
                    <a class="nav-link productos-categorias_fondo" id="v-pills-remeras-tab" data-toggle="pill" href="#v-pills-remeras" role="tab" aria-controls="v-pills-remeras" aria-selected="false">Remeras</a>
                    <a class="nav-link productos-categorias_fondo" id="v-pills-shorts-tab" data-toggle="pill" href="#v-pills-shorts" role="tab" aria-controls="v-pills-shorts" aria-selected="false">Shorts</a>
                    <a class="nav-link productos-categorias_fondo" id="v-pills-pantalones-tab" data-toggle="pill" href="#v-pills-pantalones" role="tab" aria-controls="v-pills-pantalones" aria-selected="false">Pantalones</a>
                    <a class="nav-link productos-categorias_fondo" id="v-pills-conjuntos-tab" data-toggle="pill" href="#v-pills-conjuntos" role="tab" aria-controls="v-pills-conjuntos" aria-selected="false">Conjuntos</a>
                    <a class="nav-link productos-categorias_fondo" id="v-pills-accesorios-tab" data-toggle="pill" href="#v-pills-accesorios" role="tab" aria-controls="v-pills-accesorios" aria-selected="false">Accesorios</a>
            </div>
            </div>
            <div class="col-md-12 col-lg-10 productos-background_color">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Inicio Carousel -->
                <div class="container-fluid no-gutters">
                    <div class="col-12 carousel-align">
                        <div id="carouselExampleIndicators" class="carousel slide carousel-productos" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active carousel-img">
                                    <img src="../img/carousel-products/coleccion-2020-alle-boutique-nuevo.gif" class="d-block w-100 img_carousel" alt="..." height="600">
                                </div>
                                <div class="carousel-item carousel-img">
                                    <img src="../img/carousel-products/chica-mar.jpg" class="d-block w-100" alt="..." height="600">
                                </div>
                                <div class="carousel-item carousel-img">
                                    <img src="../img/carousel-products/chica-auto.jpg" class="d-block w-100" alt="..." height="600">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Fin Carousel -->

                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"> <!--Blusas-->
                    <div class="card-deck">
                        <div class="card">
                            <img src="../img/img-productos/blusas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Blusa Amy</h5>
                            <p class="card-text">• Talle: Único</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        <div class="card">
                            <img src="../img/img-productos/blusas2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Blusa Celine</h5>
                            <p class="card-text"> • Talle: Único</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        <div class="card">
                            <img src="../img/img-productos/blusas3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Blusa Simone</h5>
                            <p class="card-text"> • Talle: Único</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        <div class="card">
                            <img src="../img/img-productos/blusas4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Blusa Diana</h5>
                            <p class="card-text"> • Talle: Único</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-tops" role="tabpanel" aria-labelledby="v-pills-tops-tab"> <!--Tops-->
                    <div class="card-deck">
                        <div class="col-md-3 card px-0">
                            <img src="../img/img-productos/tops.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Top Gigi</h5>
                            <p class="card-text">• Talle: Único</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/ target="_blank""><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        <div class="col-md-3 card px-0">
                            <img src="../img/img-productos/tops2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Top Lexi</h5>
                            <p class="card-text">• Talle: Único</p>
                            <p class="card-text">• Disponible en color blanco y rosa.</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/ target="_blank""><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        <div class="col-md-3 card px-0">
                            <img src="../img/img-productos/tops3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Top Cork</h5>
                            <p class="card-text">• Talle: Único</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/ target="_blank""><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-remeras" role="tabpanel" aria-labelledby="v-pills-remeras-tab"> <!--Remeras-->
                    <div class="card-deck">
                        <div class="card col-md-3 px-0">
                            <img src="../img/img-productos/remeras.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Remerón B&W</h5>
                            <p class="card-text">• Talle: S, M, L</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-shorts" role="tabpanel" aria-labelledby="v-pills-shorts-tab"> <!--Shorts-->
                    <div class="card-deck">
                        <div class="card col-md-3 px-0">
                            <img src="../img/img-productos/shorts.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Short Gabardina</h5>
                            <p class="card-text">• Talle: 38, 40 y 42</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        <div class="card col-md-3 px-0">
                            <img src="../img/img-productos/shorts2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Short Mom</h5>
                            <p class="card-text">• Talle: del 36 al 42</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-pantalones" role="tabpanel" aria-labelledby="v-pills-pantalones-tab"> <!--Pantalones-->
                    <div class="card-deck">
                        <div class="card col-md-3 px-0">
                            <img src="../img/img-productos/pantalones.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jean Mom</h5>
                            <p class="card-text">• Talle: del 36 al 42</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-conjuntos" role="tabpanel" aria-labelledby="v-pills-conjuntos-tab"> <!--Conjuntos-->
                    <div class="card-deck">
                        <div class="col-md-3 card px-0">
                            <img src="../img/img-productos/conjuntos.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Conjunto Biker</h5>
                            <p class="card-text">• Talle: M y L</p>
                            <p class="card-text">• Conseguilo por separado o todo junto.</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        <div class="col-md-3 card px-0">
                            <img src="../img/img-productos/conjutos2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Conjunto Atenas</h5>
                            <p class="card-text">• Talle: 1 y 2</p>
                            <p class="card-text">• Disponible en color blanco y lila.</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        <div class="col-md-3 card px-0">
                            <img src="../img/img-productos/conjuntos3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Conjunto Juliet</h5>
                            <p class="card-text">• Talle: 1 y 2</p>
                            <p class="card-text">• Disponible en color negro y celeste.</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-accesorios" role="tabpanel" aria-labelledby="v-pills-accesorios-tab"> <!--Accesorios-->
                    <div class="card-deck">
                        <div class="col-md-3 card px-0">
                            <img src="../img/img-productos/bolsas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bolsas</h5>
                            <p class="card-text">• Las bolsas están confeccionadas artesanalmente por nuestra abuela, agregándole nuestro sello personal. Ademas, están pensadas para que sean amigables con el medio ambiente.</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>
                        <div class="col-md-3 card px-0">
                            <img src="../img/img-productos/tarjetas personalizables.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tarjetas personalizadas</h5>
                            <p class="card-text">• Acompañando nuestras bolsas, tenemos nuestras tarjetas personalizadas, hechas con papel natural (caña de azúcar), para seguir manteniendo nuestro compromiso con el medio ambiente.</p>
                            <div class="points-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a href="https://www.instagram.com/alleboutique__/" target="_blank"><button type="button" class="btn btn-outline-success btn-buy">Consultar</button></a>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Fin Productos  -->

            <!-- Inicio Footer -->
    <div class="container-fluid no-gutters">
        <div class="row fondo-footer">
            <div class="redes">
                <div class="row align-items-end redes">
                <div class="item-animated"><a href="https://www.instagram.com/alleboutique__/" target="_blank"><img src="../img/instagram.svg" alt="logo-instagram" height="40px" width="40px"></a></div>
                <div class="item-animated"><a href="https://www.linkedin.com/in/agustin-ricardo" target="_blank"><img src="../img/linkedin.svg" alt="logo-linkedin" height="40px" width="40px"></a></div>
                <div class="item-animated"><a href="https://web.whatsapp.com/"target="_blank"><img src="../img/whatsapp.svg" alt="logo-whatsapp" height="40px" width="40px"></a></div>
                <div class="item-animated"><a href="https://www.facebook.com/"target="_blank"><img src="../img/facebook.svg" alt="logo-facebook" height="40px" width="40px"></a></div>
            </div>
        </div>
            <ul class="nav justify-content-center menu-footer">
                <li class="nav-item">
                    <a class="nav-link active borde" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item borde">
                    <a class="nav-link" href="../index.html#info">Informacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link borde" href="#">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link borde" href="../index.html#comoComprar">Como comprar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                </li>
            </ul>
            <div class="copy menu-footer text-center">
                <p>Allé Boutique 2020 Copyright © Todos los derechos reservados - Política de privacidad - Contact us / Contacta con nosotros</p>
            </div>
        </div>
    </div>
    <!-- Fin Footer -->
    </section>
</body>
</html>